<nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a [routerLink]="['/home']" class="nav-link" routerLinkActive="active">Home</a>
        </li>
        <!-- <li class="nav-item d-none d-sm-inline-block">
      <a [routerLink]="['/user','help']" class="nav-link" routerLinkActive="active">Help</a>
    </li> -->
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">

        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="fas fa-cogs"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <span class=" dropdown-header">Configuración</span>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item btn" (click)="irAEditarPerfil()">
                    <i class="fas fa-edit"></i> Editar perfil
                </a>
                <a class="dropdown-item btn" (click)="logOut()">
                    <i class="fas fa-door-open mr-2"></i> Cerrar sesión
                </a>
            </div>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#"><i
          class="fa fa-th-large"></i></a>
        </li> -->
    </ul>
</nav>