/* <!-- big-container --> */

.contenedor-padre {
    width: 100%;
    height: 700px;
    position: absolute;
    background: transparent;
}


/* <!-- backgroung-img --> */

#bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;
}

.bg-img {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    border: 1px;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 1024px) {
    .bg-img {
        left: 50%;
        margin-left: auto;
        /* -512px */
    }
}


/* container svg */

.container-svg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}


/* carga svg */

#morph {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: -1;
}


/* carga particle js */

#particle-js {
    position: fixed;
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
    vertical-align: bottom;
}


/* recorte particles js a medida de img svg */

.clip {
    /* clip-path: polygon(0 0, 0 38%, 0 100%, 29% 100%, 28% 91%, 31% 80%, 40% 56%, 47% 40%, 53% 24%, 53% 13%, 53% 0); */
    clip-path: polygon(54% 5%, 54% 10%, 53.5% 13%, 53% 17%, 51.4% 22%, 49% 27%, 47% 30%, 44% 33.8%, 42.5% 35%, 38.9% 39%, 38.5% 41%, 38.4% 42%, 38.2% 45%, 41.2% 59%, 41.7% 63%, 41.6% 66.5%, 40.7% 70%, 38.3% 74%, 37.2% 75%, 33.8% 78%, 30.3% 83%, 29% 86%, 28% 92%, 27.8% 96%, 27.1% 99%, 26.5% 100%, 0 100%, 0 43%, 0 0, 18% 0, 33% 0, 41% 0, 53.5% 0);
    /* clip-path: url(#morph); */
    /* background: red; */
}


/* container form */

.container-form {
    width: 100%;
    height: 700px;
    /* position: absolute; */
    /* background: transparent; */
    /* border: 1px solid red; */
}


/* icono login */

.img-logo-login {
    position: absolute;
    width: 130px;
    height: 36px;
    left: 60px;
    top: 60px;
}

.img-logo-login a {
    cursor: pointer;
}

@media (max-width: 1080px) {
    .img-logo-login {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 485px) {
    #bg {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -2;
        background: #72767d;
    }
    .bg-img {
        display: none;
    }
    #particle-js {
        display: none;
    }
    #morph {
        display: none;
    }
    .formulario {
        width: 450px !important;
    }
}


/* icono login */

.center-element-form {
    position: absolute;
    top: 50%;
    left: 50%;
    /* margin-top: -50px;
  margin-left: -100px; */
    transform: translate(-50%, -50%);
}

.formulario {
    width: 480px;
    background: #36393f;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
    box-sizing: border-box;
    font-size: 18px;
    padding: 40px;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
    -webkit-box-sizing: border-box;
}

.containerWrapper-elements {
    text-align: center;
    width: 100%;
}

.title-login {
    font-size: 26px;
    line-height: 32px;
}

.title-font-w {
    font-weight: 300;
}

.title-font-c {
    color: #fff;
}

.font-botton {
    margin-bottom: 8px;
}

.subtitle-login {
    color: #72767d;
    font-size: 18px;
    line-height: 22px;
}

.subtitle-font-w-n {
    font-weight: 400;
}

.container-block {
    text-align: left;
    width: 100%;
}

.container-margint {
    margin-top: 20px;
}


/* email */

.container-input-email {
    margin-bottom: 20px;
}

.title-email {
    color: #b9bbbe;
    letter-spacing: .5px;
    text-transform: uppercase;
    cursor: default;
    flex: 1;
    font-size: 12px;
    font-weight: 600;
}

.campo-input-email {
    flex-direction: column;
    display: flex;
}

.input-color-email {
    background-color: rgba(0, 0, 0, .1);
    border-color: rgba(0, 0, 0, .3);
    color: #f6f6f7;
}

.input-def-email {
    height: 40px;
    padding: 10px;
}

.input-decorator-email {
    -webkit-box-sizing: border-box;
    -webkit-transition: background-color .15s ease, border .15s ease;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    transition: background-color .15s ease, border .15s ease;
    width: 100%;
}

.input-font-s-email {
    font-size: 16px;
}


/* email */


/* password */

.container-input-password {
    margin-bottom: 20px;
}

.title-password {
    color: #b9bbbe;
    letter-spacing: .5px;
    text-transform: uppercase;
    cursor: default;
    flex: 1;
    font-size: 12px;
    font-weight: 600;
}

.campo-input-password {
    flex-direction: column;
    display: flex;
}

.input-color-password {
    background-color: rgba(0, 0, 0, .1);
    border-color: rgba(0, 0, 0, .3);
    color: #f6f6f7;
}

.input-def-password {
    height: 40px;
    padding: 10px;
}

.input-decorator-password {
    -webkit-box-sizing: border-box;
    -webkit-transition: background-color .15s ease, border .15s ease;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    transition: background-color .15s ease, border .15s ease;
    width: 100%;
}

.input-font-s-password {
    font-size: 16px;
}


/* password */


/* button */

.button-lookFilled.button-color {
    background-color: #7289da;
    color: #fff;
}

.button-f {
    font-size: 16px;
    line-height: 24px;
}

.button-full {
    width: 100%;
}

.button-text {
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* button */


/* sugerencia registrarse */

.container-registrarse {
    margin-top: 4px;
}

.text-necesitas-cuenta {
    font-size: 14px;
    line-height: 16px;
    color: #72767d;
}

.color-registrate {
    color: #007bff;
}

.registrate-t {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 4px;
    padding: 0;
    vertical-align: bottom;
}

.registrate-button {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-sizing: border-box;
    -webkit-user-select: none;
    align-items: center;
    background: none;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    line-height: 16px;
    padding: 4px 2px;
    position: relative;
    user-select: none;
}

.content-text-registrate {
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content-text-registrate:hover {
    cursor: pointer;
    opacity: 1;
    transition: .5s;
}


/* ↑ */

.display {
    display: block !important;
}

.pointer {
    pointer-events: auto !important;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}